/* 公共部分 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
p::selection,
span::selection,
h3::selection,
h1::selection,
h4::selection,
h2::selection {
  background: #fed136;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
div {
  box-sizing: border-box;
}
h1 {
  font-size: 40px;
}
.describe {
  font-style: italic;
  color: #777;
}
.page {
  padding-top: 150px;
  padding-bottom: 150px;
}
.content {
  width: 76%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 导航部分 */
nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, .2);
}
.nav-content {
  width: 76%;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}
.nav-content h1 {
  font-size: 30px; 
  color: rgb(254, 197, 3);
  cursor: pointer;
}
.nav-content ul {
  float: right;
  margin: 0;
  padding: 0 0;
  list-style: none;
}
.nav-content li {
  float: left;
  margin-left: 30px;
  line-height: 40px;
  color: #fff;
  cursor: pointer;
}
.nav-content li:hover {
  color: rgb(254, 197, 3);
}

/* 第一屏 */
header {
  position: relative;
  height: 100%;
  text-align: center;
  background: url(./img/lusi-bg.jpg) center center;
  background-size: cover;
}
.h-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.h-content p {
  font-size: 40px;
  font-style: italic;
  color: rgb(254, 197, 3);
  text-shadow: 1px 1px 2px black; 
}
.h-content h2 {
  font-size: 65px;
  font-weight: bold;
  color: rgb(254, 197, 3);
  text-shadow: 1px 1px 2px black; 
}
.h-content button {
  padding: 20px 40px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background: #fed136;
  cursor: pointer;
}

/* 第二屏 */
.two-row div {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 50px;
  width: 30%;
}
.two-row img {
  width: 112px;
  height: 112px;
  cursor: pointer;
}
.two-row h4 {
  font-size: 18px;
  font-weight: bold;
}
.two-row p {
  font-size: 14px;
  line-height: 1.75;
  color: #777;
}

/* 第三屏 */
.page3 {
  background-color: #eee;
}
.three-content  p {
  font-style: italic;
  color: #777;
}
.three-row > div {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 50px;
  width: 30%;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .3);
}
.three-row img {
  width: 100%;
}
.three-row a {
  position: relative;
  display: block;
}
/* 延迟显示效果 */
.t-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(254,209,54,.9);
  z-index: 100;
  opacity: 0;
  transition:all ease .5s;
}
.t-hover:hover {
  opacity: .9;
  transition:all ease .5s;
}

.t-hover::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.t-hover img {
  width: 50px;
  vertical-align: middle;
}

/* 第四屏 */
.f-content {
  position: relative;
}
.history {
  padding-bottom: 30px;
}
.history::before {
  content: '';
  position: absolute;
  height: 80%;
  width: 2px;
  background: rgba(0, 0, 0, .4);
}
.history > div {
  position: relative;
  margin-top: 80px;
}
.history img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.history article {
  position: absolute;
  left: 25%;
  top: 20px;
}
.history .f-r {
  left: 62%;
}

/* 第五屏 */
.page5 {
  background-color: #eee;
}
.team > div {
  display: inline-block;
  margin: 40px 30px;
}
.team .head {
  width: 200px;
  border-radius: 50%;
}
.team h3 {
  margin-top: 20px;
  margin-bottom: -10px;
  line-height: 1;
}
.team .small {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 15px;
  padding: 5px;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
}
.team .small:hover {
  background-color: #fed136;
}

/* 第六屏 */
.page6 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.page6 img {
  margin-right: 50px;
}

/* 第7屏 */
.page7 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: url("img/bg-2.jpg") center center;
}
.page7 h1 {
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
.page7 .describe {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
.page7 form ul {
  float: left;
  margin: 40px 20px 40px 40px;
  width: 45%;
}
.page7 form li {
  margin-bottom: 30px;
}
.page7 form input[type="text"] {
  width: 90%;
  padding: 20px 40px 20px 30px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  outline:none;
}
.page7 form textarea {
  box-sizing: border-box;
  width: 400px;
  height: 228px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  outline:none;
}
.page button {
  
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #fed136;
  cursor: pointer;
}

/* footer */
footer {
  padding: 25px 0;
}
footer span {
  vertical-align: middle;
}
footer .s1 {
  float: left;
  line-height: 40px;
}
footer .s2 {
  float: right;
  color: #fed136;
  line-height: 40px;
}
footer .small {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 15px;
  padding: 5px;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
}
footer .small:hover {
  background-color: #fed136;
}